@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/purple";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    width: calc(100% - var(--sidebar-width));
    flex-grow: 1;
    padding: 25px 25px 25px 50px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
}
