.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 25px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.theme_switcher {
    height: 30px;
}

.items {
    margin: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collapsedBtn {
    position: absolute;
    right: -40px;
    bottom: 40px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }
}
