.app.dark {
    --bg-color: #2a2f31;
    --inverted-bg-color: #f0f2f3;
    --primary-color: #356af0;
    --secondary-color: #9ec5fa;
    --inverted-primary-color: #2a2f31;
    --inverted-secondary-color: #4c5458;
}
