.app_dark_theme {
    --bg-color: #303a4f;
    --inverted-bg-color: #f4f6fb;
    --primary-color: #f4f6fb;
    --secondary-color: #212b36;
    --inverted-primary-color: #303a4f;
    --inverted-secondary-color: #212b36;
    --white-color: #f5f5f5;

    // skeleton
    --skeleton-color: #212b36;
    --skeleton-shadow: #212b36;

    // code
    --code-bg: #212b36;
}
