.app.light {
  --bg-color: #f0f2f3;
  --inverted-bg-color: #2a2f31;

  --primary-color: #2a2f31;
  --secondary-color: #4c5458;
  --inverted-primary-color: #356af0;
  --inverted-secondary-color: #529dff;
}