.app.light {
    --bg-color: #ffffff; /* Чистый белый фон для светлой темы */
    --inverted-bg-color: #1e1e22;
    --primary-color: #2c3e50; /* Более темный цвет для текста для лучшего контраста */
    --secondary-color: #95a5a6; /* Мягкий серый цвет, сочетающийся с белым */
    --inverted-primary-color: #2980b9; /* Более глубокий синий для акцентов */
    --inverted-secondary-color: #65a8d5; /* Хороший оттенок для выделения */
    --white-color: #f5f5f5;
}