:root {
    --bg-color: #F4F6FB;
    --inverted-bg-color: #303a4f;
    --primary-color: #303a4f;
    --secondary-color: #212B36;
    --inverted-primary-color: #F4F6FB;
    --inverted-secondary-color: #212B36;
    --white-color: #f5f5f5;
}
