.app_purple_theme  {
    --bg-color: #FBF4FA;
    --inverted-bg-color: #4B355F;
    --primary-color: #4B355F;
    --secondary-color: #784372;
    --inverted-primary-color: #FBF4FA;
    --inverted-secondary-color: #784372;
    --white-color: #f5f5f5;
}
